<section class="content-header">
  <h2>チーム</h2>
</section>

<section class="content conteiner-fulid">
  <table class="table">
    <thead>
      <tr>
        <th>イベント名</th>
        <th>チーム名</th>
        <th>企業名</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.event.name %></td>
          <td><%= team.name %></td>
          <td><%= team.company_name %></td>
          <td>
            <%= link_to edit_team_path(team), class: 'btn btn-default' do %>
              <%= fa_icon 'pencil-square-o' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
