<section class="content-header">
  <h2>チーム</h2>
</section>

<section class="content conteiner-fulid">
  <div class="row pull-right">
    <div class="col-md-1">
      <%= link_to '追加', new_team_path, class: 'btn btn-default' %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>イベント名</th>
        <th>チーム名</th>
        <th>企業名</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each.with_index(1) do |team, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= team.event.name %></td>
          <td><%= team.name %></td>
          <td><%= team.company_name %></td>
          <td>
            <%= link_to edit_team_path(team), class: 'btn btn-default' do %>
              <%= fa_icon 'pencil-square-o' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
