<section class="content-header">

</section>

<section class="content container-fulid">
  <p>
    <strong>イベント:</strong>
    <%= @team.event.name %>
  </p>

  <p>
    <strong>チーム名:</strong>
    <%= @team.name %>
  </p>

  <p>
    <strong>企業名:</strong>
    <%= @team.company_name %>
  </p>

  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Back', teams_path %>
</section>
