<section class="content-header">
  <div>
    <%= link_to 'イベントTop', top_event_path(@qualifier.event) %>
    >
    <%= "スイスドロー#{@qualifier.round}回戦" %>
  </div>
</section>

<section class="content conteiner-fluid">

  <% if @qualifier.preinitiation? %>
    <div class="row">
      <div class="col-md-3">
        <%= form_tag redraw_qualifier_path(@qualifier), method: :post do %>
          <%= button_tag class: 'btn btn-default' do %>
            <%= fa_icon 'repeat' %>再抽選
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th style='width: 20px'>#</th>
          <th style='width: 60px'>ルーム</th>
          <th style='width: 230px'>HOME</th>
          <th style='width: 30px'></th>
          <th style='width: 230px'>AWAY</th>
          <th></th>
        </tr>
        <% @qualifier.matches.each.with_index(1) do |match, i| %>
          <tr class="<%= 'duplicated' if match.duplicated? %>">
            <td>
              <%= i %>
            </td>
            <td>
              <%= match.room&.name %>
            </td>
            <td>
              <% if match.team_points %>
                <span class="badge badge-secondary <%= 'badge-win' if match.team_points == 3 %> <%= 'badge-lose' if match.team_points == 0 %>">
                  <%= 'Win' if match.team_points == 3 %>
                  <%= 'Draw' if match.team_points == 1 %>
                  <%= 'Lose' if match.team_points == 0 %>
                </span>
              <% end %>
              <%= match.team.name %>
            </td>
            <td>
              VS
            </td>
            <td>
              <% if match.opponent_points %>
                <span class="badge badge-secondary <%= 'badge-win' if match.team_points == 3 %> <%= 'badge-lose' if match.team_points == 0 %>">
                  <%= 'Win' if match.opponent_points == 3 %>
                  <%= 'Draw' if match.opponent_points == 1 %>
                  <%= 'Lose' if match.opponent_points == 0 %>
                </span>
              <% end %>
              <%= match.opponent.name %>
            </td>
            <td>
              <%= form_tag win_match_path(match), method: :post, class: 'button' do %>
                <%= hidden_field_tag :reciever, 'team' %>
                <%= button_tag type: :submit, class: 'btn btn-sm btn-success' do %>
                  <span style="font-size: x-small">勝ち(H)</span>
                <% end %>
              <% end %>

              <%= form_tag draw_match_path(match), method: :post, class: 'button' do %>
                <%= hidden_field_tag :reciever, 'team' %>
                <%= button_tag type: :submit, class: 'btn btn-sm btn-secondary' do %>
                  <span style="font-size: x-small">引き分け</span>
                <% end %>
              <% end %>

              <%= form_tag lose_match_path(match), method: :post, class: 'button' do %>
                <%= hidden_field_tag :reciever, 'team' %>
                <%= button_tag type: :submit, class: 'btn btn-sm btn-danger' do %>
                  <span style="font-size: x-small">勝ち(A)</span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</section>
