<section class="content-header">
  <h2>
    <%= "予選ラウンド#{@qualifier.round}回戦" %>
  </h2>
</section>

<section class="content conteiner-fluid">

  <% if @qualifier.preinitiation? %>
    <div class="row">
      <div class="col-md-3">
        <%= form_tag redraw_qualifier_path(@qualifier), method: :post do %>
          <%= button_tag class: 'btn btn-default' do %>
            <%= fa_icon 'repeat' %>再抽選
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>#</th>
          <th>対戦カード</th>
        </tr>
        <% @qualifier_matches.each do |qm| %>
          <tr>
            <td>
              <%= qm.order_of_match %>
            </td>
            <td>
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-3">
                    <h4>
                      <span class="label label-default"><%= qm.match.team.result(@qualifier) %></span>
                    </h4>
                  </div>
                  <div class="col-md-9">
                    <h4>
                      <span><%= qm.match.team.name %></span>
                    </h4>
                  </div>
                </div>

                <div>
                  <%= render partial: 'result_buttons', locals: { match: qm.match } %>
                </div>
              </div>

              <div class="col-md-2">
                VS
              </div>

              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-3">
                    <h4>
                      <span class="label label-default"><%= qm.match.opponent.result(@qualifier) %></span>
                    </h4>
                  </div>
                  <div class="col-md-9">
                    <h4>
                      <span><%= qm.match.opponent.name %></span>
                    </h4>
                  </div>
                </div>

                <div>
                  <%= render partial: 'result_buttons', locals: { match: qm.back_combination.match } %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</section>
