<table class="table ranking">
  <thead>
    <tr>
      <th>順位</th>
      <th>チーム</th>
      <th>試合数</th>
      <th>勝ち点</th>
      <th>OMWP</th>
    </tr>
  </thead>

  <tbody>
    <% teams.each do |team| %>
      <tr>
        <td class='rank'><%= team.ranking %></td>
        <td><%= team.name %></td>
        <td class='number'><%= team.match_count %></td>
        <td class='number'><%= team.points %></td>
        <td class='number'><%= team.omwp %></td>
      </tr>
    <% end %>
  </tbody>
</table>
