<section class="content-header">
  <h2>
    順位表
  </h2>
</section>

<section class="content container-fluid">
  <% if @event.qualifiers.blank? || @event.qualifiers.last.done? %>
    <div>
      <%= form_tag event_qualifiers_path(@event), method: :post do %>
        <%= submit_tag '組み合わせ抽選', class: 'btn btn-default' %>
      <% end %>
    </div>
  <% end %>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>順位</th>
          <th>チーム名</th>
          <th>試合数</th>
          <th>勝ち点</th>
          <% Qualifier.where(event: @event).each do |q| %>
            <th>
              <%= link_to q.round.ordinalize, matches_event_qualifier_path(id: q.id, event_id: @event.id) %>
            </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td><%= team.rank %></td>
            <td><%= team.name %></td>
            <td><%= team.match_count %></td>
            <td><%= team.points %></td>
            <% team.matches.each do |match| %>
              <td>
                <% opponent = match.team == team ? match.opponent : match.team %>
                <div class="row">
                  <label class="label label-default"><%= match.points(team) %></label>
                </div>
                <div class="row">
                  vs <%= link_to truncate(opponent.name, length: 8), edit_match_path(match) %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
