<section class="content-header">
</section>

<section class="content container-fluid">
  <% if @event.qualifiers.blank? || @event.qualifiers.last.done? %>
    <div>
      <%= form_tag event_qualifiers_path(@event), method: :post do %>
        <%= submit_tag '組み合わせ抽選', class: 'btn btn-default' %>
      <% end %>
    </div>
  <% end %>

  <ul class='nav nav-tabs'>
    <li class='nav-item'>
      <a class='nav-link' data-toggle='tab' href='#ranking-tab'>順位表</a>
    </li>

    <li class='nav-item active'>
      <a class='nav-link' data-toggle='tab' href='#result-tab'>対戦履歴</a>
    </li>
  </ul>

  <div class='tab-content'>
    <div id='ranking-tab' class='tab-pane'>
      <div class='col-md-5'>
        <%= render partial: 'ranking', locals: { teams: @teams[0...(@teams.size / 2).to_i] } %>
      </div>

      <div class='col-md-1'>
      </div>

      <div class='col-md-5'>
        <%= render partial: 'ranking', locals: { teams: @teams[(@teams.size / 2).to_i..@teams.size] } %>
      </div>
    </div>

    <div id='result-tab' class='tab-pane active'>
      <table class="table">
        <thead>
          <tr>
            <th>チーム名</th>
            <% Qualifier.where(event: @event).order(:round).each do |q| %>
              <th>
                <%= link_to "#{q.round}回戦", matches_event_qualifier_path(id: q.id, event_id: @event.id) %>
              </th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @teams.each do |team| %>
            <tr>
              <td>
                <span>
                  <%= team.name %>
                </span>
              </td>
              <% team.matches.each do |match| %>
                <td>
                  <% opponent = match.team == team ? match.opponent : match.team %>
                  <div class="row <%= 'duplicated' if match.duplicated? %>">
                    <% if match.points(team) %>
                      <span class="badge badge-secondary badge-short <%= 'badge-' + (match.result(team)&.downcase || '') %>">
                        <%= match.result(team).first %>
                      </span>
                    <% end %>
                    <span>
                      <%= truncate(opponent.name, length: 8) %>
                      <%= "(#{match.room&.name})" if match.room %>
                    </span>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
