<!DOCTYPE html>
<html>
  <head>
    <title>Splathon</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_link_tag '/favicon.ico' %>
  </head>

  <body class="skin-green">
    <div class="wrapper">
      <header class="main-header">
        <%= link_to events_path, class: "logo" do %>
          <span class="logo-mini">
            <img src='/white_logotype1.svg' />
          </span>
          <span class="logo-lg">
            <img src='/white_logotype2.svg' />
          </span>
        <% end %>

        <nav class="navbar navbar-static-top" role="navigation">
        </nav>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu" data-widget="tree">
            <li>
              <%= link_to events_path do %>
                <%= fa_icon 'calendar-o'%></i> <span>イベント</span>
              <% end %>
            </li>
            <li>
              <%= link_to teams_path do %>
                <%= fa_icon 'users'%></i> <span>チーム</span>
              <% end %>
            </li>
          </ul>
        </section>
      </aside>

      <div class="content-wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
